:root {
  --background-color: #111323;
  --primary-color: #A53633;
  --secondary-color: #76807C;
  --accent-color: #63718C;
  --text-color: #b1c4de;

  --quality-debug: rgb(96,64,75);
  --quality-cheap: rgb(66,66,66);
  --quality-ok: rgb(116,167,255);
  --quality-good: rgb(131,214,74);
  --quality-superior: rgb(199,199,0);
  --quality-rare: rgb(248,176,0);
  --quality-special: rgb(255,48,6);
  --quality-extreme: rgb(211,47,242);

  --stat-zero: rgb(94, 94, 94);
  --stat-negative: rgb(142, 27, 27);
  --stat-positive: rgb(79, 175, 156);
}

@font-face {
  font-family: 'Friz Quadrata';
  src: url('./assets/fonts/FrizQuadrata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Friz Quadrata', sans-serif;
}


[data-theme="dark"] {
  --background-color: #0A0A0F;
  --primary-color: #C81E1E;
  --secondary-color: #4B4F52;
  --accent-color: #5A3D70;
  --text-color: #f0f0f0
}


#mainRow
{
  align-items: flex-start;  
  display: flex;
  justify-content: space-between;
  width: 80%;
  
}

#content
{
  display: flex;
  flex-direction: column;
}

.item-description
{
  min-height: 70px;
  color:burlywood;
}

.list-item-name
{
  padding-left: 1em;
  text-align: left;
  align-self: center;
  width:100%;
  font-size: 16px;

  

}

.list-item {
  width: 100%; /* Ensure it takes the full width */
  display: flex;
  flex-direction: row;
  background-color: rgb(66,66,66);
  font-family: 'Friz Quadrata', sans-serif;

  justify-content: space-between;

  
}

.list-item-icon
{

  height:5em;
  width: auto;
  border-left: none !important;
  border-top: none !important;
  border-bottom: none !important;
}

.weapons-list {
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 40px;
  
}

.weapon-selector {
  padding:5px;
  min-width: 10em;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: black;
  text-align: left;
}

li button {
  width: 100%; 
  text-align: left; 
  border: none;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  border-width: 3px !important;

    width: 100%; /* Ensure each list item stretches fully */

  /* padding-left: 30px; Adjust for icon spacing */
  /* background-image: url("../src/inv_weapon_knife_0.jpg"); */
  /* background-size: 2em 2em; Resize image */
  /* background-repeat: no-repeat; */
  /* background-position: left center; */
}

.border-window
{
  border: .5em solid transparent;
  border-image-source: url("../assets/9sliceweaponbrowser.png");
  
  border-image-slice: 53;
  border-image-repeat: stretch;
  /* border-image-width: .5em; */
  border-style:outset; 


}

.weapon-info-grid
{
  min-width: 23em;
  width:200em;
  border-radius: 5em;
  background-color: black;
  padding: 1em;
  margin-left:1em;
  max-width: 20em;
  font-size: .70em;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.item-header
{
  display: flex;
  flex-direction: row;
  align-items: first baseline;
}

.stat-row
{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.stat-label
{
  font-weight:100;
}

.stat
{
  padding-left: 1em;
  font-weight: 400;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.stat-column-container
{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: .5em;
  gap: 2.5em;
}

.item-title {
  height: 100%;
  display: flex;
  padding-left: .5em;
  text-align: left;
  align-self: center;
  /* align-self: baseline; */
  margin-bottom: auto;
}
.item-image
{
  height: 5em;
  width: auto;
  /* align-self: baseline; */
  /* margin-top: auto; */
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-link {
  color: var(--primary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
